{#
{{ form_start(form) }}
    {{ form_row(form.searchField) }}
<button type="submit" name="btnSearch">Rechercher</button>
{{ form_end(form) }}
#}


{{ form_start(form) }} </br>
    {{ form_row(form.searchField)}}</br>
    <button class="btn"> {{ button_label|default('Save') }}</button></br>
{{ form_end(form) }}</br>



