{% extends 'base.html.twig' %}

{% block body %}

    <h3>Episode : {{ episode.title }}</h3>
    {# {{ dump(episode.season.program.title) }}  #}

    <p>Synopsis : {{ episode.synopsis }}</p>
    <p>Série : {{ episode.season.program.title }}</p>
    <p>Saison : {{ episode.season.id }}</p>


        {%  for episod in episode.season.episodes %}
            <p>
                <a href = "{{path('wild_show_episode',{'episodeid': episod.id})}}">{{ episod.title }}</a>
            </p>
        {% endfor %}


{% endblock %}
