<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('wild_index') }}">Liste des séries<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('category')}}">Liste des catégories</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('category_add')}}">Rajouter des catégories</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('program_new')}}">Rajouter des séries</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('actor_new')}}">Rajouter des acteurs</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('episode_new')}}">Rajouter des épisodes</a>
            </li>
        </ul>
    </div>
</nav>
